*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
ol, ul{
    list-style-type: none;
}
body{
    width: 100%;
    height: 100%;

    background-color: #fc3;
}
.doraemon{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    margin: auto;
    width: 500px;
    height: 610px;
}
.head{
    overflow: hidden;

    position: absolute;
    left: 63px;
    top: 20px;
    z-index: 3;

    border: 2px solid #000;
    border-radius: 50%;
    width: 384px;
    height: 358px;
    
    background-color: #0097e3;
}
.eye-wrap{
    position: absolute;
}
.eye-wrap.left{
    left: 73px;
    top: 35px;

    width: 87px;
    height: 106px;
}
.eye-wrap.right{
    left: 157px;
    top: 42px;

    height: 110px;
    width: 88px;
}
.eye{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;

    margin: auto;
    border: 2px solid #000;
    border-radius: 50%;
    height: 100%;
    width: 100%;

    background-color: #fff;

    animation: eye-close 6s 5s infinite;
}
@keyframes eye-close{
    0%, 3%, 6%, 100%{
        height: 100%;
    }
    1.5%, 4.5%{
        height: 5%;
    }
}
.pupil{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    margin: auto;
    border-radius: 50%;
    width: 25px;
    height: 35px;

    background-color: #000;
}
.pupil::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;

    margin: auto;
    border-radius: 50%;
    width: 7px;
    height: 14px;

    background-color: #fff;
}
.nose{
    position: absolute;
    left: 115px;
    top: 123px;
    z-index: 3;

    border: 2px solid #000;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    
    background-color: #e40224;
}
.nose::after{
    content: '';
    position: absolute;
    left: 11px;
    top: 11px;

    border-radius: 50%;
    width: 22px;
    height: 22px;
    
    background-color: #fff;
}
.mustache-list{
    position: absolute;
    z-index: 3;
}
.mustache-list li{
    position: relative;

    width: 90px;
    height: 5px;

    background-color: #000;
}
.mustache-list li:first-child{
    top: -1.75em;

    transform: rotate(15deg);
}
.mustache-list li:last-child{
    top: 1.75em;

    transform: rotate(-15deg);
}
.mustache-list.left{
    top: 165px;
    left: -5px;

    transform: rotate(15deg);
}
.mustache-list.right{
    top: 188px;
    right: 65px;

    transform: scaleX(-1.4);
}
.mouth{
    overflow: hidden;

    position: absolute;
    left: 7px;
    top: 85px;

    border: 2px solid #000;
    border-radius: 50%;
    width: 340px;
    height: 280px;

    background-color: #fff;
    
    transform: rotate(5deg);
}
.philtrum{
    position: absolute;
    left: 126px;
    top: 60px;
    z-index: 5;

    border: 2px solid #000;
    border-radius: 50%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    min-height: 150px;
    min-width: 50px;    
}
.lips{
    z-index: 3;
    
    margin-left: 5px;
    border: 2px solid #000;
    border-radius: 50%;
    width: 285px;
    height: 200px;

    transform: rotate(-10deg);    
}
.lips::before{
    content: '';
    position: absolute;
    left: -2px;

    width: 305px;
    height: 105px;

    background-color: #fff;
}
.dimple{
    position: absolute;
    top: 105px;
    left: 9px;
    z-index: 1;

    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;

    transform: rotate(10deg);
}
.necklace{
    position: absolute;
    left: 123px;
    top: 305px;
    z-index: 2;

    border: 2px solid #000;
    border-radius: 50%;
    width: 255px;
    height: 80px;
    
    background: #d9011a;

    transform: rotate(2deg);
}
.drop{
    overflow: hidden;

    position: absolute;
    top: 68px;
    left: 50px;

    border: 2px solid #000;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    
    background-color: #f5cc07;
}
.drop::before{
    content: '';
    position: absolute;
    left: .5em;
    top: 25px;
    z-index: 3;

    border: 2px solid #000;
    border-radius: 50%;
    width: 17px;
    height: 8px;
    
    background-color: #665a4c;
}
.drop::after{
    content: '';
    position: absolute;
    left: 15px;
    bottom: -4px;

    border: 2px solid #000;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    min-height: 35px;
    min-width: 35px;
    
    transform: rotate(-17deg);
}
.drop-line{
    position: absolute;
    top: 10px;
    left: -140%;

    border: 2px solid #000;
    border-radius: 50%;    
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    min-width: 170px;
    min-height: 170px;
}
.drop-line:nth-of-type(2){
    top: 18px;
}
.body{
    position: absolute;
    left: 120px;
    top: 255px;
    z-index: 1;

    width: 250px;
    height: 280px;
}
.trunk{
    position: relative;
    
    border: 2px solid #000;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 100%;
    height: 100%;

    background-color: #0097e3;
}
.trunk::after{
    content: '';
    position: absolute;
    top: 110px;
    left: 1px;

    width: 110px;
    height: 145px;

    background-color: #0097e3;
    
    transform: rotate(15deg);
}
.stomach{
    overflow: hidden;

    position: absolute;
    z-index: 1;
    left: 10px;
    top: 95px;

    border: 2px solid #000;
    border-radius: 50%;
    width: 175px;
    height: 145px;

    background-color: #fff;
    
    transform: rotate(15deg);
}
.pocket{
    position: absolute;
    top: .5em;
    left: .5em;

    border: 2px solid #000;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    
}
.pocket::after{
    content: '';
    position: absolute;
    left: -25px;
    top: -10px;

    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    padding: 0.5em;
    min-width: 169px;
    min-height: 65px;
    
    transform: rotate(-10deg);
}
.arm{
    background-color: #0097e3;
}
.hand{
    content: '';
    position: absolute;
    top: 175px;
    left: 270px;

    border-radius: 50%;
    border: 2px solid #000;
    width: 70px;
    height: 70px;

    background-color: #fff;    
}
.arm.right{
    position: absolute;
    right: -55px;
    top: 90px;
    z-index: 1;

    border: 2px solid #000;
    border-radius: 40%;
    width: 70px;
    height: 120px;

    background-color: #0097e3;    
    
    transform: rotate(-30deg);
}
.arm.right::before{
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    z-index: 3;

    width: 50px;
    height: 55px;

    background-color: #0097e3;
    
    transform: rotate(30deg);
}
.arm.right::after{
    content: '';
    position: absolute;
    top: 6px;
    left: -12px;

    border: 2px solid #000;
    border-radius: 50%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 40px;
    height: 95px;

    background-color: #0097e3;
    
    transform: rotate(-7deg);
}
.arm.left{
    position: absolute;
    top: 85px;
    left: -15px;
    z-index: -1;

    border: 2px solid #000;
    border-radius: 50%;
    width: 45px;
    height: 65px;
    
    transform: rotate(15deg);
}
.leg.left{
    position: absolute;
    left: 95px;
    top: 430px;

    border: 2px solid #000;
    width: 120px;
    height: 110px;

    background-color: #0097e3;
}
.foot{
    position: absolute;
    z-index: 10;

    border: 2px solid #000;
    border-radius: 50%;
    width: 105px;
    height: 160px;

    background-color: #fff;
}
.leg.left::before{
    content: '';
    position: absolute;
    left: -10px;
    top: -10px;

    border: 2px solid #000;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    min-width: 45px;
    min-height: 45px;
    
    background-color: #0097e3;
}
.leg.left::after{
    content: '';
    position: absolute;
    top: 98px;
    left: 8px;
    z-index: 3;
    
    border: 2px solid #000;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    min-width: 140px;
    min-height: 140px;

    background-color: #fc3;
}
.leg.left .foot{
    left: -4em;
    top: -1.5em;

    transform: rotate(-30deg);
}
.leg.right + .foot{
    left: 206px;
    top: 450px;

    width: 125px;
    height: 150px;

    transform: rotate(-40deg);
}
.right-padding{
    position: absolute;
    top: 455px;
    left: 288px;
    z-index: 8;
}
.right-padding::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    border: 2px solid #000;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 30px;
    height: 30px;

    background-color: #0097e3;
    
    transform: rotate(-15deg);
}
.leg.right{
    position: absolute;
    left: 290px;
    top: 410px;

    border: 2px solid #000;
    border-radius: 50%;
    width: 75px;
    height: 160px;
    
    background-color: #0097e3;
    
    transform: rotate(20deg);
}